.tab-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially hidden */
    visibility: hidden;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s; /* Transition for opacity */
}

.tab-open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0s; /* Transition for opacity */
}

.tab-content {
    display: flex;
    flex-direction: column;
    /* color: #333;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    max-height: 80%;
    overflow: auto; */
}

.button-close {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.close-button {
    display: flex;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px; /* Adjust as needed */
    font-size: 1.6rem;
    font-weight: 700;
    p {
        margin: 0 8px;
    }

    &:hover {
        background-color: #f0f0f0;
    }
}

.item-container {
    margin-top: 8px;
    color: #333;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    max-height: 1000%;
    overflow: auto;
}

.list-item {
    display: flex;
    padding: 20px;
}

.item-content {
    display: flex;
    flex-direction: column;
    padding: 10px;

    h3 {
        font-size: 0.9em;
        margin-bottom: 10px;
    }
}

.selection-type {
    font-size: 1.2em;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* Style for options within the dropdown */
.selection-type option {
    /* Define styles for each option */
    padding: 20px;
    color: #555;
    background-color: #fff;
}

/* Hover effect on options */
.selection-type option:hover {
    background-color: #f0f0f0;
}

.input {
    width: 100%;
    height: 44px;
    border-radius: 0.5rem;
    padding: 0 1rem;
    border: 1px solid transparent;
    font-size: 1.5rem;
    transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1), color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1),
        background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1);
}

.input:hover,
.input:focus,
.input {
    outline: none;
    border-color: #ccc;
}

.input:focus {
    color: #05060fc2;
}

.submit-button {
    background-color: #443ad8;
    color: #fff;
    cursor: pointer;
    padding: 12px 16px;
    width: 100%;
    border-bottom-left-radius: 8px; /* Square bottom-left corner */
    border-bottom-right-radius: 8px; /* Square bottom-right corner */
    font-size: 1.6rem;
    font-weight: 700;

    &:hover {
        background-color: #2f26a1;
    }
}

.select {
  width: fit-content;
  cursor: pointer;
  position: relative;
  transition: 300ms;
  color: white;
  overflow: hidden;
}

.selected {
  /* background-color: #2a2f3b; */
  border: 1px solid #ccc;
  color: black;
  padding: 9px;
  margin-bottom: 3px;
  border-radius: 5px;
  position: relative;
  z-index: 100000;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
  position: relative;
  right: 0px;
  height: 10px;
  transform: rotate(-90deg);
  width: 25px;
  fill: white;
  z-index: 100000;
  transition: 300ms;
}

.options {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  color: black;
  position: relative;
  top: -100px;
  opacity: 0;
  transition: 300ms;
}

.select:hover > .options {
  opacity: 1;
  top: 0;
}

.select:hover > .selected .arrow {
  transform: rotate(0deg);
}

.option {
  border-radius: 5px;
  padding: 5px;
  transition: 300ms;
  color: black;
  width: 150px;
  font-size: 15px;
}
.option:hover {
  background-color: #e7e8e9;
  cursor: pointer;
}

.options input[type="radio"] {
  display: none;
}

.options label {
  display: inline-block;
}
.options label::before {
  content: attr(data-txt);
}

.options input[type="radio"]:checked + label {
  display: none;
}

.options input[type="radio"]#all:checked + label {
  display: none;
}

.select:has(.options input[type="radio"]#all:checked) .selected::before {
  content: attr(data-default);
}
.select:has(.options input[type="radio"]#option-1:checked) .selected::before {
  content: attr(data-one);
}
.select:has(.options input[type="radio"]#option-2:checked) .selected::before {
  content: attr(data-two);
}
.select:has(.options input[type="radio"]#option-3:checked) .selected::before {
  content: attr(data-three);
}

